body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    font-weight: bold;
    margin-top: 12%;
}

#camera {
    margin-top: 20px;
}

#chrono {
    margin-left: 24px;
    margin-top: 7%;
}

#jumbo {
    margin-left: 24px;
    margin-top: 7%;
    width: 470px;
}

#slides {
    margin-top: 2%;
    text-align: right;
}

#title {
    font-weight: bold;
}